.page{
	background: #F0F2F5;
	padding-bottom: 112px;
    padding-top: 72px;

}
.all{
	display: flex;
	justify-content:space-evenly;
	font-size: 12px !important;
	align-items: center;
}


.left{
	width: 489px;
	height: 131px;

}


.face{
	color: #1877F2;
    font-size: 50px;
    align-items: center;
}


.face:hover{
	color: red;
	font-size: 90px;
}

.text{
	font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    width: 500px;
}

.r1{

}

.right{
	background: white;
    border-radius: 5px;
    width: 397px;
    height: 355px;
    display: inline-block;
    box-shadow: 1px 1px 15px -4px;
}
.border{
	font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    text-align: center;
}
.box{
	 width: 100%;
	 font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    }
.button1{
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    background: #1877F2;
    height: 47	px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 366px;
 }
 .login{
 	
    color: white;
 }
 .forget{
 	    display: flex;
    	justify-content: center;
    	text-decoration: none;
    	color: #1877f2;
        font-size: 14px;
 }
 .button2{
 	display: inline-block;
    font-size: 14px;
    margin:auto;
    padding: 6px 0;
    background: #42B72A;
    width: 197px;
    height: 47px;
    display: flex;
    border-radius: 6px;
 }
 .create{
    width: 197px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
 }
.line{
	align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;

}
footer{
    width: 980px;
    bottom: 0;
    font-family: inherit;
    padding-top: 20px;
    display: block;
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0 auto;
    padding: 50px 50px;
    unicode-bidi: embed;

}
.touch{
	font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;

}
.ok{
	margin-top: 28px;
    text-align: center;
}
.zero{
	color: black;
	text-decoration: none;

}
.f1{
	margin: 0 auto;
    width: 980px;
    font-size: 12px;
}
.list1{
	list-style-type: none;
	display: flex;
	font-family: inherit;
	white-space: nowrap;
}
.none{
	text-decoration: none;
	color: #8a8d91;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.plus
{
	border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}